<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lib.DAO.BookIndexMapper">
    <select id="selectBookIndex" parameterType="com.lib.bean.Book" resultType="com.lib.bean.BookIndex">
        select * from book_index where name = #{name}
    </select>

    <insert id="insertBookIndex" parameterType="com.lib.bean.BookIndex">
        insert into book_index(name,p,length) values
        (#{name},#{p},#{length})
    </insert>

    <update id="updateBookIndex" parameterType="com.lib.bean.BookIndex">
        update book_index set name=#{name},p=#{p},length=#{length} where name=#{name}
    </update>

    <delete id="deleteBookIndex" parameterType="com.lib.bean.BookIndex">
        delete from book_index where name=#{name}
    </delete>
</mapper>
